<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1, h2 {
            text-align: center;
        }
        ul {
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Tic-Tac-Toe game</h1>
    <h2>Choose the Mode of Game</h2>
    <form action="/select_mode" method="post">
        <ul>
            <input type="radio" name="mode" value="1"> Single Player <br>
            <input type="radio" name="mode" value="2"> Double Player <br>
            <input type="radio" name="mode" value="3"> Tutorial
        </ul>
        <div style="text-align: center;">
            <input type="submit" value="Select Mode">
        </div>
    </form>
</body>
</html>
